<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>DATA LEAKAGE DETECTION</title>
<h1 style="color:#300502"><center>DATA LEAKAGE DETECTION IN CLOUD COMPUTING</center></h1>


<link rel="stylesheet" type="text/css" href="static/css/style.css">
<style>

	body{
	background-image: url("static/images/ehr.jpg")!important;
	background-size:1500px;
	background-repeat: no-repeat;
	}
	li a{
		color:white;
	}
</style>
</head>
<body><br>

	<ul>
	<li><a href="/">LOGOUT</a></li>
	<li><a href="/profile">PROFILE</a></li>
	<li><a href="/download">DOWNLOAD FILE</a></li>
	<li><a href="/requestfiles">REQUESTED FILES</a></li>
	<li><a href="/viewfiles2">FILES</a></li>
	<li><a href="/userhome">HOME</a></li>
</ul>
{% if user != null %}
<center><h1>{{user}}</h1></center>
{% endif %}
</body>
</html>