<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>DATA LEAKAGE DETECTION</title>
<h1 style="color:#300502"><center>DATA LEAKAGE DETECTION IN CLOUD COMPUTING</center></h1>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<style>
	body {
	  background-image: url('static/images/ehr.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
	}
	table{
	    background-color:#02330f!important;
	    color: white!important;
	    border:1!important;
	}
</style>
</head>
<body><br>
<ul>
	<ul>
	<li><a href="/dataowner">LOGOUT</a></li>
	<li><a href="/viewfiles3">DATA SHARERS</a></li>
	<li><a href="/ownerhome">HOME</a></li>
</ul>

</ul>

<h1 align="center"  style = "color:white!important">FILES ON THE CLOUD </h1>
<div align="center" >
{% block content %}
{% if msg == 'null' %}
	<h3 align="center"  style = "color:white!important">REPOSITORY EMPTY!!! </h3>
{% else %}
    <div  style="background-color:">
    <font style = "color:white!important">
        {{data | safe}}
    </font>
    </div>
	{% endif %}
{% endblock %}
</div>
</body>
</html>